header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    font-weight:700;
    text-transform: uppercase;
    color:#666;
    text-decoration: none;
    font-size:36px;
    margin-left:-25px;
}

header .logo span{
    color:#78ff00;
}

header ul{
    margin:0;
    position:relative;
    display:flex;
}

header ul li{
    list-style: none;
    margin-left:10px;
}

header ul li a{
    z-index:0;
    position: relative;
    text-decoration: none;
    font-size:24px;
    padding:4px 5px;
    color:#333;
    text-decoration:none;
}

header ul li:nth-child(4) a,
header ul li:nth-child(5) a {
    color:#fff;
}

header ul li a:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:0;
    height:100%;
    background: #78ff00;
    z-index:-1;
    transition:0.5s ease-in-out;
}

header ul li a:hover:before,    
header ul li a.active:before{
    width:40px;
}

.menuIcon{
    display:none;
}


@media(max-width:1060px){
    header{
        padding:0;
        margin:0;
    }
    header ul{
        display:none;
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100vh;
        background:#fff; 
        z-index:10000;
        padding:100px 0;
    }
    header.active ul{
        display:initial;
    }
    header ul li{
        padding:20px;
        text-align:center;
    }
    header ul li a{
        color:#333 !important;
        font-size:36px;
    }

    header ul li a:hover:before,
    header ul li a.active:before{
    width:100%;
    }
    
    header.active .menuIcon{
        background-image:url(../img/multTest2.png);
        background-size:cover;
        background-repeat:no-repeat;
        background-position:left top;
    }

    .menuIcon{
        display:initial;
        position:fixed;
        right:50px;
        cursor:pointer;
        z-index:1000000;
        width:34px;
        height:34px;
        background-image: url(../img/menu-of-three-lines.png); 
        background-size: cover;
        background-repeat:no-repeat;
        background-position:6px;
    }
}

@media(max-width:760px){
    .menuIcon{
        right:30px;
    }
}